
<div class="thumbnail img-circle"
[style.background]="defaultColor">

<img [src]="member.avatar" #img
 class="img img-circle img-responsive member"
 [class.greyscale]="!member.isLoggedIn && !colored"
 [class.colored]="member.isLoggedIn"
 (mouseenter)="colored=true"
 (mouseleave)="colored=false"
 (load)="defaultColor=member.strokeColor;entrance='loaded'"
 [@memberEntrance]="entrance"
 />

 <div class="caption" *ngIf="member.isLoggedIn">
   {{member.name | uppercase}}
   <br />
    IS
    <br />
    HERE
 </div>

 </div>
